.toast {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;

  &-message {
    padding: 10px 15px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 4px;

    img {
      width: 30px;
    }

    p {
      // margin-top: 8px;
      font-size: 13px;
      color: #fff;
    }
  }
}
